@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap");

@tailwind variants;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 60px 160px 60px;
  pointer-events: none;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6 bg-slate-50;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.sidebar {
  height: 100vh;
}
